 <div class="container-fluid">
   <div class="row">
     <div class="col-xl-12 xl-100">
       <div class="card">
         <div class="card-header">
           <h5>รายการผู้ใช้งาน</h5>
         </div>
         <div class="card-body">
           <button class="btn btn-primary mb-2" routerLink="/users/new">
             เพิ่มผู้ใช้งาน
           </button>
           <table class="table table-bordered">
             <thead>
               <tr>
                 <th scope="col">ชื่อ-นามสกุล</th>
                 <th scope="col">หน่วยงาน</th>
                 <th scope="col">ตำแหน่ง</th>
                 <th scope="col">หน้าที่</th>
                 <th class="text-center" scope="col"></th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let user of Users; let i = index">
                 <th scope="row">{{ user.first_name }} {{ user.last_name }}</th>
                 <td>{{ user.office ? user.office.name : "" }}</td>
                 <td>{{ user.position ? user.positon.name : "" }}</td>
                 <td>{{ user.roles }}</td>
                 <td class="text-center">
                   <button class="btn btn-sm btn-primary" routerLink="/users/{{ user.id }}/edit">
                     แก้ไข
                   </button>
                   <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id, i)">
                     ลบ
                   </button>
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
 </div>
